<%- include('../../partials/head');%>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Produits</th>
        <th scope="col">Prix commande</th>
        <th scope="col">Status commande</th>
        <th scope="col">Type d'envoi</th>
    </tr>
    </thead>
    <tbody>
        <%commande.forEach(commande => { %>
        <% if (commande.status != "En_attente") {%>    
    <tr>
        <% } %>
        <th scope="row"><%=commande.id%></th>
        <td><%= commande.productName%></td>
        <td><%= commande.prix%></td>
        <td><%= commande.status%></td> <!--/Expédié/Réceptionnée -->
        <td><%= commande.type%></td>
        <% if (commande.status = "receptionne") {%>  
            <td><button id="confirmeReception">Confirmer réception (mail)</button></td>
        <% } %>
    </tr>
        <%})%>
    </tbody>
</table>
<script>
    document.getElementById("confirmeReception").onclick = function() {
        document.location.href="/commande/validateRecep"; //status expédié + mail + retirer produits des stocks
    }
</script>