<body>
   <h1>This is the Supply Chain APP</h1>
   
   <div class="center" id="buttons">
      <form action="test">
          <button id="stocks">Visualiser stocks produits</button>
      </form>
      <button id="Envoi">Confirmer envois colis</button>
      <button id="SuRecep">Suivre réceptions colis</button>
      <button id="SuRetour">Suivre retours colis</button>
   </div>
</body>