<%- include('../partial/head');%>
<table class="table" id="stocksTab">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom Produit</th>
            <th scope="col">Prix (€)</th>
            <th scope="col">Quantité</th>
        </tr>
    </thead>
    <tbody>
        <%products.forEach(product => { %>
            <tr>
               <th scope="row"><%=product.id%></th>
               <th><%=product.nom%></th>
               <th><%=product.prix%></th>
               <th><%=product.quantite%></th>
            </tr>
           <% }) %>
    </tbody>
 </table>
