<%- include('../../partials/head');%>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Produits</th>
        <th scope="col">Prix commande</th>
        <th scope="col">Status commande</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
        <%commande.forEach(commande => { %>
        <% if (commande.status = "En_attente" && commande.type != "retour") {%>    
    <tr>
        <% } %>
        <th scope="row"><%=commande.id%></th>
        <td><%= commande.productName%></td>
        <td><%= commande.prix%></td>
        <td><%= commande.status%></td> <!--En attente/Expédié/Réceptionnée -->
        <td><button id="confirme">Confirmer envoi</button></td>
    </tr>
        <%})%>
    </tbody>
</table>

<script>
    document.getElementById("confirme").onclick = function() {
        document.location.href="/commande/validate"; //status expédié + mail + retirer produits des stocks
    }
</script>